<section class="max-width flex-row-centered">
    <nav class="nav-menu">
        <ul class="ul-menu">
            <li>
                <a class="menu-fonts">Training</a>
            </li>
            <li>
                <a class="menu-fonts">Learning</a>
            </li>
            <li>
                <a class="menu-fonts">References</a>
            </li>
            <li>
                <a class="menu-fonts">About</a>
            </li>
            <li>
                <a class="menu-fonts">Blog</a>
            </li>
        </ul>
    </nav>
</section>