<section class="max-width flex-row-centered">
    <div class="width-90 flex-align-vertical">
        <div class="title-left-side-aligner">
            <h2 class="stack_section_header sans-serif-font-family">
                My Stack
            </h2>
        </div>
        <div class="stack_section_grid">
            {% for card in stack_cards %}
                {% include "main_page/stack_section/stack_card_template.html" with card=card%}
            {% endfor %}
        </div>
    </div>
</section>