<section class="max-width blog-main-page-section">
    <div class="width-90 blog-main-aligner">
        <div class="blog-main-header">
            <h2 class="blog-main-header__title">
                Best of the week
            </h2>
            <a class="blog-main-header__all-href" href="#">
                See all posts
            </a>
        </div>
    </div>
    <section class="width-90 flex-row-centered">
        <div class="blog-sections-separator">
            <div class="card">
                <img src="https://media.istockphoto.com/id/468110313/photo/portrait-of-confused-and-uncertain-hispanic-girl.jpg?s=612x612&w=0&k=20&c=0mi4SABFymR4vdEx5-imWds2ZempxkjzD3sGhwP0-os=" alt="Travel Image" class="card-bg" />
                <div class="card-date">Sep 06, 2022</div>
                <div class="card-tag">Travel</div>
                <div class="card-content">
                    <div class="card-tag-small">• Travel</div>
                    <h2 class="card-title">Get to your dream now<br>destinations with Travel Pro</h2>
                </div>
                <a href="#" class="card-arrow">↗</a>
            </div>
        </div>
    </section>
</section>