<section class="max-width blog-main-page-section">
    <div class="width-90 blog-main-aligner">
        <div class="blog-main-header">
            <h2 class="blog-main-header__title">
                Best of the week
            </h2>
            <a class="blog-main-header__all-href" href="#">
                See all posts
            </a>
        </div>
    </div>
    <section class="width-90 flex-row-centered">
        <div class="blog-sections-separator">
            <div class="card-wrapper-1">
                <div class="card">
                <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsfGVufDB8fDB8fHww" alt="Travel Image" class="card-bg" />
                <div class="card-date">Sep 06, 2022</div>
                <div class="card-tag">Travel</div>
                <div class="card-content">
                    <div class="card-tag-small">• Travel</div>
                    <h2 class="card-title">Get to your dream now<br>destinations with Travel Pro</h2>
                </div>
                <a href="#" class="card-arrow">↗</a>
            </div>
            </div>
            <div class="card-wrapper-2">
                <div class="card">
                <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsfGVufDB8fDB8fHww" alt="Travel Image" class="card-bg" />
                <div class="card-date">Sep 06, 2022</div>
                <div class="card-tag">Travel</div>
                <div class="card-content">
                    <div class="card-tag-small">• Travel</div>
                    <h2 class="card-title">Get to your dream now<br>destinations with Travel Pro</h2>
                </div>
                <a href="#" class="card-arrow">↗</a>
            </div>
            </div>
            <div class="card-wrapper-3">
                <div class="card">
                <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsfGVufDB8fDB8fHww" alt="Travel Image" class="card-bg" />
                <div class="card-date">Sep 06, 2022</div>
                <div class="card-tag">Travel</div>
                <div class="card-content">
                    <div class="card-tag-small">• Travel</div>
                    <h2 class="card-title">Get to your dream now<br>destinations with Travel Pro</h2>
                </div>
                <a href="#" class="card-arrow">↗</a>
            </div>
            </div>
        </div>
    </section>
</section>