.blog-main-page-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.blog-main-aligner
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center

.blog-main-header
  display: flex
  justify-content: space-between
  align-items: baseline
  margin-top: 5%
  font-family: sans-serif
  &__title
    font-size: 2.5rem
    font-weight: bold
    font-style: italic
    margin: 0
  &__all-href
    font-size: 0.875rem
    text-decoration: none
    color: black
    white-space: nowrap
