<section class="max-width flex-row-centered">
    <section class="offer-grid-splitter">
        <div class="flex-vertical">
            <h2 class="margin-bottom-zero offer-header">
                {{ offer.title }}
            </h2>
            <p class="offer-comment">
                {{ offer.comment }}
            </p>
            <button class="offer-button">
                Contact us
            </button>
        </div>
    </section>
</section>
<section class="max-width flex-row-centered">
    <div class="our-pros-section">
        {% for pro in pros %}
            <div class="pros-block">
                <h3>{{ pro.title }}</h3>
                <p>{{ pro.comment }}</p>
                <span>Explore</span>
            </div>
        {% endfor %}
    </div>
</section>