<footer class="max-width flex-row-centered footer-background-color">
    <div class="width-90">
        <div class="card-footer">
            <main class="content-footer">
              <div class="cat">
                <img src="cat.png" alt="Cat" />
              </div>
              <div class="info">
                <a href="tel:+79998126669" class="phone">+7 999 812 66 69</a>
                <p class="person">Иванов Егор, SALES & ACCOUNT DIRECTOR</p>
              </div>
            </main>
        <footer class="nav-footer">
          <div class="links-left">
            <a href="#">ОБ АГЕНТСТВЕ</a>
            <a href="#">УСЛУГИ</a>
            <a href="#">НАШ БЛОГ</a>
          </div>
          <div class="links-center">
            <a href="#">БРЕНДИНГ</a>
            <a href="#">КОНСАЛТИНГ</a>
            <a href="#">ВЕБ-ДИЗАЙН</a>
          </div>
          <div class="links-right">
            <a href="#">РЕКЛАМА</a>
            <a href="#">SMM</a>
            <a href="#">ПРОДВИЖЕНИЕ</a>
          </div>
        </footer>
        </div>
    </div>
</footer>