<section class="max-width blog-main-page-section">
    <div class="width-90 title-left-side-aligner">
        <div class="blog-main-header">
            <h2 class="blog-main-header__title">
                Best of the week
            </h2>
            <a class="blog-main-header__all-href" href="#">
                See all posts
            </a>
        </div>
    </div>
    <section class="width-90 flex-row-centered">
        <div class="blog-sections-separator">
            {% if top_three_articles|length >= 1 %}
                <div class="card-wrapper-1">
                    {% include "main_page/blog_main_page/blog_card_template.html" with article=top_three_articles.0 %}
                </div>
            {% endif %}

            {% if top_three_articles|length >= 2 %}
                <div class="card-wrapper-2">
                    {% include "main_page/blog_main_page/blog_card_template.html" with article=top_three_articles.1 %}
                </div>
            {% endif %}

            {% if top_three_articles|length >= 3 %}
                <div class="card-wrapper-3">
                    {% include "main_page/blog_main_page/blog_card_template.html" with article=top_three_articles.2 %}
                </div>
            {% endif %}
        </div>
    </section>
</section>